<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Ayuda</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
</head>

<body>
    <div class="container">
        <div class="header">
            <header class="fondeDeHeader">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="mercado liebre" /></a>
                <p>Lugar para poner barra de búsqueda</p>
                <p>
                    <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin
                    tarjeta de crédito
                </p>

                <ul>
                    <li><a href="/ofertas">Ofertas</a></li>
                    <li><a href="/tiendas">Tiendas Oficiales</a></li>
                    <li><a href="/vender">Vender</a></li>
                    <li><a href="/ayuda">Ayuda</a></li>
                </ul>

                <ul>
                    <li>
                        <a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a>
                    </li>
                    <li>
                        <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></i>
                    </li>
                    <li>
                        <a href="/mis_compras">Mis Compras <i class="fas fa-shopping-basket"></i></a>
                    </li>
                </ul>
            </header>
        </div>

        <div class="footer">
            <footer>
                <i class="fas fa-credit-card footer-icon"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>
                    Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o
                    efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>

                <i class="fas fa-gift footer-icon"></i>
                <h3>Envío gratis desde los $ 2.500</h3>
                <p>
                    Solo por estar registr@ en MercadoLiebre tenés envíos gratis en
                    miles de productos. Es un beneficio de MercadoPuntos.
                </p>

                <i class="fas fa-user-shield footer-icon"></i>
                <h3>Seguridad de principio a fin</h3>
                <p>
                    ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas
                    hacer porque estás siempre protegid@.
                </p>

                <h5>Copyright © 1999-2019 MercadoLiebre S.R.L.</h5>
            </footer>
        </div>
    </div>
</body>

</html>