<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Mercado Liebre</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <img src="/images/logo-mercado-liebre.svg" alt="mercado liebre">
    <p>Lugar para poner barra de búsqueda</p>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>

    <ul>
      <li><a href="/ofertas">Ofertas</a></li>
      <li><a href="/tiendas">Tiendas Oficiales</a></li>
      <li><a href="/vender">Vender</a></li>
      <li><a href="/ayuda">Ayuda</a></li>
    </ul>

    <ul>
      <li><a href="/crea_cuenta">Creá tu cuenta</a></li>
      <li><a href="/ingresa">Ingresá</a></li>
      <li><a href="/mis_compras">Mis Compras</a></li>
    </ul>

    <img src="/images/img-home-banner.jpg" alt="home banner">

    <h2>Basado en tu última visita</h2>

    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
    <p>$6.770</p>
    <p>40% off</p>
    <h3>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h3>

    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook pro 2019">
    <p>$230.000</p>
    <p>20% off</p>
    <h3>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h3>

    <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
    <p>$70.500</p>
    <p>15% off</p>
    <h3>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h3>

    <img src="/images/img-tv-samsung-smart.jpg" alt="tv samsung smart">
    <p>$30.000</p>
    <p>5% off</p>
    <h3>SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h3>




    <h2>Ofertas</h2>

    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
    <p>$6.770</p>
    <p>40% off</p>
    <h3>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h3>

    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook pro 2019">
    <p>$230.000</p>
    <p>20% off</p>
    <h3>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h3>

    <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
    <p>$70.500</p>
    <p>15% off</p>
    <h3>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h3>

    <img src="/images/img-tv-samsung-smart.jpg" alt="tv samsung smart">
    <p>$30.000</p>
    <p>5% off</p>
    <h3>SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h3>



    <footer>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

      <h4>Envío gratis desde los $ 2.500</h4>
      <p>Solo por estar registr@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>

      <h4>Seguridad de principio a fin</h4>
      <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>

      <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </footer>



  </body>
</html>
