<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
</head>

<body>





  <div class="container">
    
      <header class="fondeDeHeader">
        <div class="img-logo">
          <a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg" alt="mercado liebre" /></a>
        </div>
        <div class="buscador">
          <p><input type="text" placeholder="Buscar producto, marcas"></p>
          <i class="fas fa-search lupa"></i>
        </div>
        
        
        <div>
          <p>
            <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin
            tarjeta de crédito
          </p>
        </div>
        
        <div class="boton-menu">
          <button class="icono-menu" type="menu">
            <i class="fas fa-bars "></i>
          </button>
        </div>
        

        
        <!-- <ul>
          <li><a href="/ofertas">Ofertas</a></li>
          <li><a href="/tiendas">Tiendas Oficiales</a></li>
          <li><a href="/vender">Vender</a></li>
          <li><a href="/ayuda">Ayuda</a></li>
        </ul>

        <ul>
          <li>
            <a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a>

          </li>
          <li>
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></i>
          </li>
          <li>
            <a href="/mis_compras">Mis Compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul> -->
        

        
      </header>

      <section class="banner">
          <img src="/images/img-home-banner.jpg" alt="home banner" />
      </section>


      
      <section>
        <main>

          <section class="box-titulo-productos">

            <h2 class="titulares">Basado en tu última visita</h2>

            <article class="producto">
              <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" />
              </div>
              <div class="icono-camion">
                <hr class="linea-camion">
                <i class="fas fa-truck iconoProducto"></i>
              </div>
              <div class="precio-descuento">
                <div class="box-precio">
                  <p class="precio">$6.770</p>
                </div>
                <div class="box-descuento">
                  <p class="descuentos">40% off</p>
                </div>
              </div>
              
              <h3 class="descripciones">
                Cafetera Moulinex
              </h3>
          </article>

          <article class="producto">
            <img src="/images/img-macbook-pro-2019.jpg" alt="macbook pro 2019" />
            <div class="icono-camion">
              <hr class="linea-camion">
              <i class="fas fa-truck iconoProducto"></i>
            </div>
            <div class="precio-descuento">
              <div class="box-precio">
                <p class="precio">$230.000</p>
              </div>
              <div class="box-descuento">
                <p class="descuentos">20% off</p>
              </div>
            </div>

            <h3 class="descripciones">
              Macbook Pro 2019
            </h3>
          </article>

          <article class="producto">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10" />
            <div class="icono-camion">
              <hr class="linea-camion">
              <i class="fas fa-truck iconoProducto"></i>
            </div>
            <div class="precio-descuento">
              <div class="box-precio">
                <p class="precio">$70.500</p>
              </div>
              <div class="box-descuento">
                <p class="descuentos">10% off</p>
              </div>
            </div>

            <h3 class="descripciones">
              Teléfono móvil Samsung Galaxy S10
            </h3>
          </article>

          <article class="producto">
            <img src="/images/img-tv-samsung-smart.jpg" alt="tv samsung smart" />
            <div class="icono-camion">
                <hr class="linea-camion">
                <i class="fas fa-truck iconoProducto"></i>
              </div>
              <div class="precio-descuento">
                <div class="box-precio">
                  <p class="precio">$23.200</p>
                </div>
                <div class="box-descuento">
                  <p class="descuentos">5% off</p>
                </div>
              </div>

            <h3 class="descripciones">
              SmartTv Samsung 43"
            </h3>
          </article>
          </section>

          <section class="box-titulo-productos">

            <h2 class="titulares">Ofertas</h2>

            <article class="producto">
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" />
                <div class="icono-camion">
                <hr class="linea-camion">
                <i class="fas fa-truck iconoProducto"></i>
              </div>
                <p class="precio">$6.770</p>
                <p class="descuentos">40% off</p>
                <h3 class="descripciones">
                  Cafetera Moulinex
                </h3>
            </article>

            <article class="producto">
              <img src="/images/img-macbook-pro-2019.jpg" alt="macbook pro 2019" />
              <div class="icono-camion">
                <hr class="linea-camion">
                <i class="fas fa-truck iconoProducto"></i>
              </div>
              <p class="precio">$230.000</p>
              <p class="descuentos">20% off</p>
              <h3 class="descripciones">
                Macbook Pro 2019
              </h3>
            </article>

            <article class="producto">
              <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10" />
              <div class="icono-camion">
                <hr class="linea-camion">
                <i class="fas fa-truck iconoProducto"></i>
              </div>
              <p class="precio">$70.500</p>
              <p class="descuentos">15% off</p>
              <h3 class="descripciones">
                Teléfono móvil Samsung Galaxy S10
              </h3>
            </article>

            <article class="producto">
              <img src="/images/img-tv-samsung-smart.jpg" alt="tv samsung smart" />
              <div class="icono-camion">
                <hr class="linea-camion">
                <i class="fas fa-truck iconoProducto"></i>
              </div>
              <p class="precio">$30.000</p>
              <p class="descuentos">5% off</p>
              <h3 class="descripciones">
                SmartTv Samsung 43"
              </h3>
            </article>


          </section>





        </main>
      </section>



      <footer>

        <article>
          <i class="fas fa-credit-card footer-icon"></i>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>
            Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </article>

        <article>
          <i class="fas fa-gift footer-icon"></i>
          <h3>Envío gratis desde los $ 2.500</h3>
          <p>
            Solo por estar registr@ en MercadoLiebre tenés envíos gratis en
            miles de productos. Es un beneficio de MercadoPuntos.
          </p>
        </article>

        <article>
          <i class="fas fa-user-shield footer-icon"></i>
          <h3>Seguridad de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas
            hacer porque estás siempre protegid@.
          </p>
        </article>

        <div>
          <h5>Copyright © 1999-2019 MercadoLiebre S.R.L.</h5>
        </div>

      </footer>

  </div>
</body>
</html>