<!DOCTYPE html>
<html>
    <head>
        <title>Mercado Liebre - Vender</title>
    </head>
    <body>
        <a href="/">
            <img src="/images/logo-mercado-liebre.svg" alt="mercado liebre">
        </a>
        <h1>VENDER</h1>
    </body>
</html>